<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="3032f687-c794-438d-ad5d-81bc3a43ffc0" Name="Synapsis" Language="1033" Version="1.0.0.0" Manufacturer="BioNex" UpgradeCode="aa9de3cc-7206-4213-af3c-1a67bb04dbc9">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media.cab" EmbedCab="yes" />

    <!-- directory structure for application -->
		<Directory Id="TARGETDIR" Name="SourceDir">
      <!-- this directory is defined for the application shortcut on the desktop -->
      <Directory Id="DesktopFolder" Name="Desktop" />
      <!-- this creates the application folder for the exe underneath c:\Program Files -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyFolder" Name="BioNex">
          <Directory Id="INSTALLLOCATION" Name="Synapsis">
            <Directory Id="PluginsFolder" Name="plugins" />
          </Directory>
        </Directory>
      </Directory>
      <!-- this creates the folder within the start menu for hosting shortcuts -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="BioNex" />
      </Directory>
		</Directory>

    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="AlphaHardware.dll" />
      <ComponentRef Id="BarcodeMisreadDialog.dll" />
      <ComponentRef Id="BumblebeeAlpha.Configuration.dll"/>
      <ComponentRef Id="BumblebeeAlpha.Teachpoints.dll" />
      <ComponentRef Id="BumblebeeMessenger.dll" />
      <ComponentRef Id="chord.wav" />
      <ComponentRef Id="DeviceInterface.dll" />
      <ComponentRef Id="DeviceManagerDatabase.dll" />
      <ComponentRef Id="DualDisposableTipSplitScheduler.dll" />
      <ComponentRef Id="ErrorDialog.dll" />
      <ComponentRef Id="FileHelpers.dll" />
      <ComponentRef Id="Galasoft.MvvmLight.Extras.WPF4.dll" />
      <ComponentRef Id="Galasoft.MvvmLight.WPF4.dll" />
      <ComponentRef Id="HitpickXMLReader.dll" />
      <ComponentRef Id="InventoryManagement.dll" />
      <ComponentRef Id="IronPython.dll" />
      <ComponentRef Id="IronPython.Modules.dll" />
      <ComponentRef Id="LabwareDatabase.dll" />
      <ComponentRef Id="LEDControl.dll" />
      <ComponentRef Id="LibraryInterfaces.dll" />
      <ComponentRef Id="LiquidProfileLibrary.dll" />
      <ComponentRef Id="log4net.dll" />
      <ComponentRef Id="logging.xml" />
      <ComponentRef Id="MicroscanLibrary.dll" />
      <ComponentRef Id="Microsoft.Dynamic.dll" />
      <ComponentRef Id="Microsoft.Scripting.Core.dll" />
      <ComponentRef Id="Microsoft.Scripting.Debugging.dll" />
      <ComponentRef Id="Microsoft.Scripting.dll" />
      <ComponentRef Id="Microsoft.Scripting.ExtensionAttribute.dll" />
      <ComponentRef Id="PlateDefs.dll" />
      <ComponentRef Id="SchedulerInterface.dll" />
      <ComponentRef Id="SQLite.Interop.dll" />
      <ComponentRef Id="Stateless.dll" />
      <ComponentRef Id="Synapsis.exe" />
      <ComponentRef Id="SynapsisPrototype.exe.config" />
      <ComponentRef Id="synapsis_log.s3db" />
      <ComponentRef Id="synapsis_pipette_log.s3db" />
      <ComponentRef Id="Systec_IO.dll" />
      <ComponentRef Id="System.ComponentModel.Composition.Codeplex.dll" />
      <ComponentRef Id="System.Data.SQLite.dll" />
      <ComponentRef Id="System.Windows.Interactivity.dll" />
      <ComponentRef Id="tada.wav" />
      <ComponentRef Id="Teachpoints.dll" />
      <ComponentRef Id="TechnosoftLibrary.dll" />
      <ComponentRef Id="test_hitpick.xsd" />
      <ComponentRef Id="TML_lib.dll" />
      <ComponentRef Id="tmlcomm.dll" />
      <ComponentRef Id="UcanDotNET.dll" />
      <ComponentRef Id="Utils.dll" />
      <ComponentRef Id="WPFToolkit.dll" />
      <ComponentRef Id="ProductShortcut" />
      <!-- other stuff I had originally missed -->
      <ComponentRef Id="bionexguicontrols" />
      <ComponentRef Id="cookcomputing.xmlrpcv2" />
      <ComponentRef Id="exception" />
      <ComponentRef Id="heavyutils" />
      <ComponentRef Id="ierror" />
      <ComponentRef Id="itechnosoftconnectionsharer" />
      <ComponentRef Id="iworkscommandserver" />
      <ComponentRef Id="labwarecloudxmlrpcclient" />
      <ComponentRef Id="labwarecloudxmlrpcserver" />
      <ComponentRef Id="smtpreporting" />
      <ComponentRef Id="tasklistxmlparser" />
      <ComponentRef Id="xmlrpcglue" />
    </ComponentGroup>

    <ComponentGroup Id="PluginComponents">
      <ComponentRef Id="HivePrototypePlugin.dll" />
      <ComponentRef Id="InstantaneousRobotStoragePlugin.dll" />
      <ComponentRef Id="IOPlugin.dll" />
      <ComponentRef Id="OmronG9SXPlugin.dll" />
      <!-- other stuff I had originally missed -->
      <ComponentRef Id="teachpointserver" />
      <ComponentRef Id="dockmonitorplugin"/>
      <ComponentRef Id="hiveserver" />
      <ComponentRef Id="jemsclient" />
      <ComponentRef Id="jemsserver" />
      <ComponentRef Id="monsantophase2gui" />
      <ComponentRef Id="platemover" />
    </ComponentGroup>
    
    <!-- add all of the file references - exe, dlls, etc. -->
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="Synapsis.exe" Guid="8D285EE5-A823-449b-8F02-EE5523839C60">
        <!-- main exe -->
        <File Id="SynapsisPrototype.exe" Source="..\..\..\..\vs2010\bin\Debug\SynapsisPrototype.exe" KeyPath="yes">
          <Shortcut Id="DesktopExeLink" Directory="DesktopFolder" Name="Synapsis" WorkingDirectory="INSTALLDIR" Icon="synapsis.exe" IconIndex="0" Advertise="yes" />
        </File>
      </Component>
      <!-- referenced dlls -->
      <Component Id="AlphaHardware.dll" Guid="16AFE6A5-F8C4-43a1-B260-74E6B11EA935">
        <File Id="AlphaHardware.dll" Source="..\..\..\..\vs2010\bin\Debug\AlphaHardware.dll" />
      </Component>
      <Component Id="BarcodeMisreadDialog.dll" Guid="0C6C8FF5-2901-4354-ADE5-2E2452631EB5">
        <File Id="BarcodeMisreadDialog.dll" Source="..\..\..\..\vs2010\bin\Debug\BarcodeMisreadDialog.dll" />
      </Component>
      <Component Id="BumblebeeAlpha.Configuration.dll" Guid="518E8480-4672-4dde-BBE5-7A8A2B21FDD1">
        <File Id="BumblebeeAlpha.Configuration.dll" Source="..\..\..\..\vs2010\bin\Debug\BumblebeeAlpha.Configuration.dll" />
      </Component>
      <Component Id="BumblebeeAlpha.Teachpoints.dll" Guid="4210E333-348C-4b23-9315-10C386189B0B">
        <File Id="BumblebeeAlpha.Teachpoints.dll" Source="..\..\..\..\vs2010\bin\Debug\BumblebeeAlpha.Teachpoints.dll" />
      </Component>
      <Component Id="BumblebeeMessenger.dll" Guid="6475D1A2-A696-427b-B771-DF37FB22E0B0">
        <File Id="BumblebeeMessenger.dll" Source="..\..\..\..\vs2010\bin\Debug\BumblebeeMessenger.dll" />
      </Component>
      <Component Id="chord.wav" Guid="3583B57A-C560-4cae-BB87-A30414B1901E">
        <File Id="chord.wav" Source="..\..\..\..\vs2010\bin\Debug\chord.wav" />
      </Component>
      <Component Id="DeviceInterface.dll" Guid="8782C46D-9C0D-4a1b-AB1F-71A6399843DB">
        <File Id="DeviceInterface.dll" Source="..\..\..\..\vs2010\bin\Debug\DeviceInterface.dll" />
      </Component>
      <Component Id="DeviceManagerDatabase.dll" Guid="A91CD738-6EB5-4771-846D-AEA2B1A15B5D">
        <File Id="DeviceManagerDatabase.dll" Source="..\..\..\..\vs2010\bin\Debug\DeviceManagerDatabase.dll" />
      </Component>
      <Component Id="DualDisposableTipSplitScheduler.dll" Guid="B10B2F4B-8ECD-4e3c-A621-C7872E136875">
        <File Id="DualDisposableTipSplitScheduler.dll" Source="..\..\..\..\vs2010\bin\Debug\DualDisposableTipSplitScheduler.dll" />
      </Component>
      <Component Id="ErrorDialog.dll" Guid="8150DB85-501F-4d03-9556-662BB55F6D3B">
        <File Id="ErrorDialog.dll" Source="..\..\..\..\vs2010\bin\Debug\ErrorDialog.dll" />
      </Component>
      <Component Id="FileHelpers.dll" Guid="CCB07EE3-DE45-41df-A4FB-408B22BF79DE">
        <File Id="FileHelpers.dll" Source="..\..\..\..\vs2010\bin\Debug\FileHelpers.dll" />
      </Component>
      <Component Id="Galasoft.MvvmLight.Extras.WPF4.dll" Guid="0B59B7C0-4BD8-45AC-A118-C1F4EB0EAD09">
        <File Id="Galasoft.MvvmLight.Extras.WPF4.dll" Source="..\..\..\..\vs2010\bin\Debug\Galasoft.MvvmLight.Extras.WPF4.dll" />
      </Component>
      <Component Id="Galasoft.MvvmLight.WPF4.dll" Guid="3B67EBE1-E10E-4BC4-BCDA-EE32E20CAB69">
        <File Id="Galasoft.MvvmLight.WPF4.dll" Source="..\..\..\..\vs2010\bin\Debug\Galasoft.MvvmLight.WPF4.dll" />
      </Component>
      <Component Id="HitpickXMLReader.dll" Guid="B4299ED1-8E8A-42c7-AE4F-FBC1D2594381">
        <File Id="HitpickXMLReader.dll" Source="..\..\..\..\vs2010\bin\Debug\HitpickXMLReader.dll" />
      </Component>
      <Component Id="InventoryManagement.dll" Guid="0B44F362-E416-4a97-AD2A-8D649EC84FFC">
        <File Id="InventoryManagement.dll" Source="..\..\..\..\vs2010\bin\Debug\InventoryManagement.dll" />
      </Component>
      <Component Id="IronPython.dll" Guid="03CA5CD0-3C1E-44E4-A8FF-BD4114BE93AF">
        <File Id="IronPython.dll" Source="..\..\..\..\vs2010\bin\Debug\IronPython.dll" />
      </Component>
      <Component Id="IronPython.Modules.dll" Guid="840355BB-91C0-42BA-9EFC-9097694E9501">
        <File Id="IronPython.Modules.dll" Source="..\..\..\..\vs2010\bin\Debug\IronPython.Modules.dll" />
      </Component>
      <Component Id="LabwareDatabase.dll" Guid="8D9A4C00-F175-4a3e-9B83-07EDBD03305D">
        <File Id="LabwareDatabase.dll" Source="..\..\..\..\vs2010\bin\Debug\LabwareDatabase.dll" />
      </Component>
      <Component Id="LEDControl.dll" Guid="3CDFF3EC-25A4-4a02-9E90-4A9FE34534D2">
        <File Id="LEDControl.dll" Source="..\..\..\..\vs2010\bin\Debug\LEDControl.dll" />
      </Component>
      <Component Id="LibraryInterfaces.dll" Guid="3A79D6C7-D765-4566-B9DA-58F2D899F79F">
        <File Id="LibraryInterfaces.dll" Source="..\..\..\..\vs2010\bin\Debug\LibraryInterfaces.dll" />
      </Component>
      <Component Id="LiquidProfileLibrary.dll" Guid="E497F357-DA58-49cb-A14B-EB3870457247">
        <File Id="LiquidProfileLibrary.dll" Source="..\..\..\..\vs2010\bin\Debug\LiquidProfileLibrary.dll" />
      </Component>
      <Component Id="log4net.dll" Guid="186848F9-05CF-43e7-9D95-FAE6ABA4C9EC">
        <File Id="log4net.dll" Source="..\..\..\..\vs2010\bin\Debug\log4net.dll" />
      </Component>
      <Component Id="logging.xml" Guid="D0A47AFF-D138-4359-9E01-646A0D95AE78">
        <File Id="logging.xml" Source="..\..\..\..\vs2010\bin\Debug\logging.xml" />
      </Component>
      <Component Id="MicroscanLibrary.dll" Guid="4E70070D-AC1D-4414-BADB-D1F55D38EB9A">
        <File Id="MicroscanLibrary.dll" Source="..\..\..\..\vs2010\bin\Debug\MicroscanLibrary.dll" />
      </Component>
      <Component Id="Microsoft.Dynamic.dll" Guid="7268E8CA-72D4-4ACD-95EB-C5CAD7E5EA12">
        <File Id="Microsoft.Dynamic.dll" Source="..\..\..\..\vs2010\bin\Debug\Microsoft.Dynamic.dll" />
      </Component>
      <Component Id="Microsoft.Scripting.Core.dll" Guid="04DD53E9-010C-4935-93B1-854676742774">
        <File Id="Microsoft.Scripting.Core.dll" Source="..\..\..\..\vs2010\bin\Debug\Microsoft.Scripting.Core.dll" />
      </Component>
      <Component Id="Microsoft.Scripting.Debugging.dll" Guid="B93B9206-C3E1-4712-B45D-919BA59C8E4D">
        <File Id="Microsoft.Scripting.Debugging.dll" Source="..\..\..\..\vs2010\bin\Debug\Microsoft.Scripting.Debugging.dll" />
      </Component>
      <Component Id="Microsoft.Scripting.dll" Guid="ACF66B6B-FF0D-4D48-9740-6E7957877EA2">
        <File Id="Microsoft.Scripting.dll" Source="..\..\..\..\vs2010\bin\Debug\Microsoft.Scripting.dll" />
      </Component>
      <Component Id="Microsoft.Scripting.ExtensionAttribute.dll" Guid="591EE439-0885-449E-A60F-A714B542832A">
        <File Id="Microsoft.Scripting.ExtensionAttribute.dll" Source="..\..\..\..\vs2010\bin\Debug\Microsoft.Scripting.ExtensionAttribute.dll" />
      </Component>
      <Component Id="PlateDefs.dll" Guid="AD816C46-6406-449b-85FD-ECA83B5FBAE7">
        <File Id="PlateDefs.dll" Source="..\..\..\..\vs2010\bin\Debug\PlateDefs.dll" />
      </Component>
      <Component Id="SchedulerInterface.dll" Guid="0D6A4BCD-B339-4ec2-8848-623601235F8B">
        <File Id="SchedulerInterface.dll" Source="..\..\..\..\vs2010\bin\Debug\SchedulerInterface.dll" />
      </Component>
      <Component Id="SQLite.Interop.dll" Guid="5C815C59-7E5D-43DA-8667-B9C643D87F63">
        <File Id="SQLite.Interop.dll" Source="..\..\..\..\vs2010\bin\Debug\SQLite.Interop.dll" />
      </Component>
      <Component Id="Stateless.dll" Guid="2234B020-0BDF-4525-9001-9296C996689B">
        <File Id="Stateless.dll" Source="..\..\..\..\vs2010\bin\Debug\Stateless.dll" />
      </Component>
      <Component Id="synapsis_log.s3db" Guid="F1CE48A5-BE49-4f7b-BEF8-4B78585EE1EB">
        <File Id="synapsis_log.s3db" Source="..\..\..\..\vs2010\bin\Debug\synapsis_log.s3db" />
      </Component>
      <Component Id="synapsis_pipette_log.s3db" Guid="0B01273D-FCAD-41a3-85AE-B7535C63CCFC">
        <File Id="synapsis_pipette_log.s3db" Source="..\..\..\..\vs2010\bin\Debug\synapsis_pipette_log.s3db" />
      </Component>
      <Component Id="SynapsisPrototype.exe.config" Guid="50086678-C7B5-4C9A-AFE6-43DD4FEFDBA1">
        <File Id="SynapsisPrototype.exe.config" Source="..\..\..\..\vs2010\bin\Debug\SynapsisPrototype.exe.config" />
      </Component>
      <Component Id="Systec_IO.dll" Guid="F00C3BA3-85FC-49A4-BF4C-6073C2E1D244">
        <File Id="Systec_IO.dll" Source="..\..\..\..\vs2010\bin\Debug\Systec_IO.dll" />
      </Component>
      <Component Id="System.ComponentModel.Composition.Codeplex.dll" Guid="36806B18-47A1-468B-9736-351E5A7C5864">
        <File Id="System.ComponentModel.Composition.Codeplex.dll" Source="..\..\..\..\vs2010\bin\Debug\System.ComponentModel.Composition.Codeplex.dll" />
      </Component>
      <Component Id="System.Data.SQLite.dll" Guid="7E9D8CFF-47CA-4A1C-BEF8-BC0FBB259F2C">
        <File Id="System.Data.SQLite.dll" Source="..\..\..\..\vs2010\bin\Debug\System.Data.SQLite.dll" />
      </Component>
      <Component Id="System.Windows.Interactivity.dll" Guid="18580719-70A0-4a4c-97AC-38B761C310D5">
        <File Id="System.Windows.Interactivity.dll" Source="..\..\..\..\vs2010\bin\Debug\System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="tada.wav" Guid="48A8F43A-274E-405d-9ECC-4585377DE3BC">
        <File Id="tada.wav" Source="..\..\..\..\vs2010\bin\Debug\tada.wav" />
      </Component>
      <Component Id="Teachpoints.dll" Guid="786DAF1F-BC17-45fa-8345-EBF89AD3F15C">
        <File Id="Teachpoints.dll" Source="..\..\..\..\vs2010\bin\Debug\Teachpoints.dll" />
      </Component>
      <Component Id="TechnosoftLibrary.dll" Guid="DE02BB54-A5F7-47a7-9737-88A3E8B13499">
        <File Id="TechnosoftLibrary.dll" Source="..\..\..\..\vs2010\bin\Debug\TechnosoftLibrary.dll" />
      </Component>
      <Component Id="test_hitpick.xsd" Guid="91A94B72-5BA0-4430-B144-1E6D7BF636E0">
        <File Id="test_hitpick.xsd" Source="..\..\..\..\vs2010\bin\Debug\test_hitpick.xsd" />
      </Component>
      <Component Id="TML_lib.dll" Guid="7353ECC3-5369-40b1-A332-2D383C4BC8D0">
        <File Id="TML_lib.dll" Source="..\..\..\..\vs2010\bin\Debug\TML_lib-mt.dll" />
      </Component>
      <Component Id="tmlcomm.dll" Guid="9E9CB9FB-0AA7-4821-96B8-7F646FB5FE26">
        <File Id="tmlcomm.dll" Source="..\..\..\..\vs2010\bin\Debug\tmlcomm-mt.dll" />
      </Component>
      <Component Id="UcanDotNET.dll" Guid="9CEB45DA-7115-457a-9A2B-176C7ED4FD44">
        <File Id="UcanDotNET.dll" Source="..\..\..\..\vs2010\bin\Debug\UcanDotNET.dll" />
      </Component>
      <Component Id="Utils.dll" Guid="D93BAD89-7B73-4017-B29E-FD47F21CB04E">
        <File Id="Utils.dll" Source="..\..\..\..\vs2010\bin\Debug\Utils.dll" />
      </Component>
      <Component Id="WPFToolkit.dll" Guid="EE5E7C97-A1A5-45bd-B63E-558A3D665DB5">
        <File Id="WPFToolkit.dll" Source="..\..\..\..\vs2010\bin\Debug\WPFToolkit.dll" />
      </Component>
      <!-- other stuff I originally forgot-->
      <Component Id="bionexguicontrols">
        <File Id="bionexguicontrols" Source="..\..\..\..\vs2010\bin\debug\BioNexGuiControls.dll" />
      </Component>
      <Component Id="cookcomputing.xmlrpcv2">
        <File Id="cookcomputing.xmlrpcv2" Source="..\..\..\..\vs2010\bin\debug\CookComputing.XmlRpcV2.dll" />
      </Component>
      <Component Id="exception">
        <File Id="exception" Source="..\..\..\..\vs2010\bin\debug\Exception.dll" />
      </Component>
      <Component Id="heavyutils">
        <File Id="heavyutils" Source="..\..\..\..\vs2010\bin\debug\HeavyUtils.dll" />
      </Component>
      <Component Id="ierror">
        <File Id="ierror" Source="..\..\..\..\vs2010\bin\debug\IError.dll" />
      </Component>
      <Component Id="itechnosoftconnectionsharer">
        <File Id="itechnosoftconnectionsharer" Source="..\..\..\..\vs2010\bin\debug\ITechnosoftConnectionSharer.dll" />
      </Component>
      <Component Id="iworkscommandserver">
        <File Id="iworkscommandserver" Source="..\..\..\..\vs2010\bin\debug\IWorksCommandServer.dll" />
      </Component>
      <Component Id="labwarecloudxmlrpcclient">
        <File Id="labwarecloudxmlrpcclient" Source="..\..\..\..\vs2010\bin\debug\LabwareCloudXmlRpcClient.dll" />
      </Component>
      <Component Id="labwarecloudxmlrpcserver">
        <File Id="labwarecloudxmlrpcserver" Source="..\..\..\..\vs2010\bin\debug\LabwareCloudXmlRpcServer.dll" />
      </Component>
      <Component Id="smtpreporting">
        <File Id="smtpreporting" Source="..\..\..\..\vs2010\bin\debug\SmtpReporting.dll" />
      </Component>
      <Component Id="tasklistxmlparser">
        <File Id="tasklistxmlparser" Source="..\..\..\..\vs2010\bin\debug\TaskListXmlParser.dll" />
      </Component>
      <Component Id="xmlrpcglue">
        <File Id="xmlrpcglue" Source="..\..\..\..\vs2010\bin\debug\XmlRpcGlue.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="PluginsFolder">
      <Component Id="HivePrototypePlugin.dll" Guid="25C4BD7F-7EAE-4f21-8433-9FC363EDA000">
        <File Id="HivePrototypePlugin.dll" Source="..\..\..\..\vs2010\bin\Debug\plugins\HivePrototypePlugin.dll" />
      </Component>
      <Component Id="InstantaneousRobotStoragePlugin.dll" Guid="00649463-C70D-4CEE-A827-65CE8CCAB52D">
        <File Id="InstantaneousRobotStoragePlugin.dll" Source="..\..\..\..\vs2010\bin\Debug\plugins\InstantaneousRobotStoragePlugin.dll" />
      </Component>
      <Component Id="IOPlugin.dll" Guid="E3A0C2AD-37EB-4f3b-9823-ABF808A18B83">
        <File Id="IOPlugin.dll" Source="..\..\..\..\vs2010\bin\Debug\plugins\IOPlugin.dll" />
      </Component>
      <Component Id="OmronG9SXPlugin.dll" Guid="A6A1ED98-1714-4458-9A3A-2B1E2459F627">
        <File Id="OmronG9SXPlugin.dll" Source="..\..\..\..\vs2010\bin\Debug\plugins\OmronG9SXPlugin.dll" />
      </Component>
      <Component Id="teachpointserver">
        <File Id="teachpointserver" Source="..\..\..\..\vs2010\bin\debug\plugins\TeachpointServer.dll" />
      </Component>
      <Component Id="dockmonitorplugin">
        <File Id="dockmonitorplugin" Source="..\..\..\..\vs2010\bin\debug\plugins\DockMonitorPlugin.dll" />
      </Component>
      <Component Id="hiveserver">
        <File Id="hiveserver" Source="..\..\..\..\vs2010\bin\debug\plugins\HiveServer.dll" />
      </Component>
      <Component Id="jemsclient">
        <File Id="jemsclient" Source="..\..\..\..\vs2010\bin\debug\plugins\JEMSClient.dll" />
      </Component>
      <Component Id="jemsserver">
        <File Id="jemsserver" Source="..\..\..\..\vs2010\bin\debug\plugins\JEMSServer.dll" />
      </Component>
      <Component Id="monsantophase2gui">
        <File Id="monsantophase2gui" Source="..\..\..\..\vs2010\bin\debug\plugins\MonsantoPhase2GUI.dll" />
      </Component>
      <Component Id="platemover">
        <File Id="platemover" Source="..\..\..\..\vs2010\bin\debug\plugins\PlateMoverPlugin.dll" />
      </Component>
    </DirectoryRef>

    <!-- create shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ProductShortcut" Guid="FC06674E-C8EF-4bc6-9AC7-FAE4137147C5">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Synapsis"
                  Description="Automation software package for BioNex Hive"
                  Target="[INSTALLLOCATION]SynapsisPrototype.exe"
                  WorkingDirectory="INSTALLLOCATION" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- only one feature, which should install everything -->
    <Feature Id="ProductFeature" Title="Complete" Level="1">
      <Feature Id="Main" Level="1" ConfigurableDirectory="INSTALLLOCATION">
        <ComponentGroupRef Id="ProductComponents" />
      </Feature>
      <Feature Id="Plugins" Level="1">
        <ComponentGroupRef Id="PluginComponents" />
      </Feature>
    </Feature>

    <!-- took this out because the HiG didn't need it and it worked fine - maybe this is a WiX 3.0 thing? -->
    <!-- 
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    -->
    <Icon Id="synapsis.exe" SourceFile="..\..\..\..\vs2010\bin\Debug\SynapsisPrototype.exe"/>

  </Product>
</Wix>
