<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BioNex.SynapsisPrototype.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <BioNex.SynapsisPrototype.Properties.Settings>
      <setting name="PasswordProtectDiagnostics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LightIODevice" serializeAs="String">
        <value>IODevice</value>
      </setting>
      <setting name="PreProtocolMessageFilename" serializeAs="String">
        <value>pre-protocol-message.txt</value>
      </setting>
      <setting name="ReturnTipBoxToOriginalLocation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunForever" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedCustomerGui" serializeAs="String">
        <value />
      </setting>
      <setting name="NeedsUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RobotDisableResetBit" serializeAs="String">
        <value>3</value>
      </setting>
    </BioNex.SynapsisPrototype.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!-- uncomment this stuff if you want your debug.asserts to reliably stop in the debugger
    <system.diagnostics>
        <trace>
            <listeners>
                <add name="BioNexListener" type="BioNex.Shared.Utils.ExceptionTraceListener, Utils" />
            </listeners>
        </trace>
    </system.diagnostics>
    -->
  <!-- http://blogs.msdn.com/b/dsplaisted/archive/2010/07/13/how-to-debug-and-diagnose-mef-failures.aspx 
       use this for debugging plugin loading
  <system.diagnostics>
    <sources>
      <source name="System.ComponentModel.Composition" switchValue="All">
        <listeners>
          <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="composition.log" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  -->
</configuration>
